<header class="sub-header">
  <div
    style="
      display: flex;
      align-items: center;
      color: white;
      gap: 5px;
      font-weight: bold;
      font-size: 20px;
    "
  >
    <img src="../../assets/images/ph_coin-fill.svg" alt="" />
    <p *ngIf="currentPoint">{{ currentPoint.current_point }}</p>
  </div>
</header>
<main>
  <div class="container-package">
    <div
      class="package-box"
      *ngFor="let item of packages"
      (click)="openDialog('0ms', '0ms', item)"
    >
      <div class="img-package">
        <img [src]="url + '/static/' + item.image" alt="" />
      </div>
      <div>
        <div class="btn-coin">
          <img src="../../assets/images/ph_coin-fill.svg" alt="" />
          <p>{{ item.point }}</p>
        </div>
      </div>
    </div>
  </div>
</main>
