<div class="container">
  <div class="login-box">
    <img src="../../assets/images/logo.jpg" alt="" />

    <div class="description">
      <h3>ຢືນຢັນລະຫັດຜ່ານ</h3>
      <p>ກະລຸໃສ່ລະຫັດຢືນຢົນທີ່ສົງໄປທີ່ເບີ {{phone}}</p>
    </div>

    <ng-otp-input [config]="{ length: 4 } " (onInputChange)="onOtpChange($event)"></ng-otp-input>

    <div class="submit">
      <button class="btn-confirm" (click)="onSubmit()" *ngIf="btnDisabled"><mat-spinner *ngIf="submitStatus"></mat-spinner><span
          *ngIf="!submitStatus">ຢືນຢັນ</span></button>
      <button class="btn-confirm btn-confirm-disabled" [disabled]="false" *ngIf="!btnDisabled"><span>ຢືນຢັນ</span></button>
      <a routerLink="/login">ກັບຄືນ</a>
    </div>
  </div>
</div>
