<div class="container-login">
  <header>
    <div class="header-logo">
      <button [matMenuTriggerFor]="langMenu">
        <!-- <img [src]="activeLanguageFlag" width="31.5" height="21" />
        <mat-icon>keyboard_arrow_down</mat-icon> -->
        <div class="ln">
          <img [src]="activeLanguageFlag">
        </div>
        <mat-icon>
          keyboard_arrow_down</mat-icon>
      </button>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item class="ln-image" style="align-items: center; display: flex; justify-content: center"
          (click)="onBtnChangeLanguageClick()">
          <img [src]="unActiveLanguageFlag" width="60.5" height="21" />
        </button>
      </mat-menu>

    </div>
  </header>
  <div class="card">
    <div class="login-box">
      <div class="login-logo">
        <img src="./assets/images/logo.png">
      </div>
      <h3 class="la-font">{{ 'ເຂົ້າສູ່ລະບົບ' | translate }}</h3>
      <form class="login-from" (submit)="sendOtp()" [formGroup]="loginForm">
        <div class="from-col">
          <label>ເບີໂທລະສັບ (8 ໂຕເລກ)</label>
          <input class="from-input" formControlName="phone" [type]="onType" maxlength="8"
            (input)="onSearchChange($event.target)">
          <!-- <div class="text-danger"
            *ngIf="loginForm.controls['phone'].invalid &&( loginForm.controls['phone'].touched || loginForm.controls['phone'].dirty)">
            <span *ngIf="getPhone?.errors?.['minLength']?.['actualLength'] < 8" style="color: red;">ພີມ 8
              ໂຕ</span>
          </div> -->
          <!-- //requiredLength -->
          <!-- //actualLength -->
        </div>
        <div class="from-col">
          <button><mat-spinner *ngIf="submitStatus"></mat-spinner><span *ngIf="!submitStatus">ສົ່ງລະຫັດ
              OTP</span></button>
        </div>
      </form>

    </div>
  </div>

</div>
