<header class="sub-header">
  <a routerLink="">
    <mat-icon>
      arrow_back</mat-icon>
  </a>
  <h3 class="la-font">ກະຕ່າສິນຄ້າ</h3>
</header>
<main *ngIf="dataCart">
  <dir class="cart-no-product" *ngIf="dataCart.details.length == 0">
    <mat-icon>
      production_quantity_limits</mat-icon>
    <h3>ກະຕ່າບໍ່ມີສິນຄ້າ</h3>
  </dir>
  <ul class="lists" *ngFor="let item of dataCart.details">
    <li class="list cart">
      <div class="list-header">
        <img [src]="url+'/static/'+item.product.image">
      </div>
      <div class="list-body">
        <h3 class="la-font">{{item.product.name}}</h3>
        <span>{{formatCurrency(item.product.price)}}</span>
        <div class="btn cart-btn">
          <button class="btn-left" (click)="deleteItem(item.product.id)"><mat-icon>
              delete</mat-icon></button>
          <div class="btn-right">
            <button (click)="updateCart(item,-1)"><mat-icon>
                remove</mat-icon></button>
            <span>{{item.qty}}</span>
            <button (click)="updateCart(item,1)"><mat-icon>
                add</mat-icon></button>
          </div>
        </div>
      </div>
    </li>

  </ul>
  <button class="btn-upload" *ngIf="!imagePreview"
    (click)="triggerFileInput()">ຄິກເພື່ອອັບໂຫລດຫຼັກຖານການຊຳລະເງິນ</button>
  <input type="file" #fileInput *ngIf="!imagePreview" (change)="onFileSelected($event)" hidden>
  <div class="view-image" *ngIf="imagePreview">
    <img [src]="imagePreview">
    <mat-icon class="btn-delete-image" (click)="deleteShowImage()">
      delete</mat-icon>
  </div>
  <div class="total">
    <p>ລວມມຸນຄ່າ</p>
    <span>{{formatCurrency(dataCart.actual_sale)}}</span>
  </div>
  <div class="total">
    <p>ຄະແນນທີ່ໄດ້ຮັບ</p>
    <span>{{formatCurrency(dataCart.actual_point)}}</span>
  </div>
  <button class="btn-submit" *ngIf="imagePreview && dataCart.details.length > 0"
    (click)="onSubmit()"><mat-spinner></mat-spinner>ຢືນຢັນການສັ່ງຊື້</button>
  <button class="btn-submit btn-disabled" *ngIf="!imagePreview || imagePreview && dataCart.details.length == 0"
    disabled>ຢືນຢັນການສັ່ງຊື້</button>

</main>