<header class="sub-header">
  <a routerLink="/profile-user" [queryParams]="{ store_id: store_id }">
    <mat-icon> arrow_back</mat-icon>
  </a>

  <div
    style="
      display: flex;
      align-items: center;
      color: white;
      gap: 5px;
      font-weight: bold;
      font-size: 20px;
    "
  >
    ປະຫວັດການໄດ້ຂອງລາງວັນ
  </div>
</header>
<main>
  <div
    *ngIf="this.prize.length == 0"
    style="
      width: 100%;
      height: 100%;
      font-size: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
    "
  >
    <p>ຍັງບໍ່ມີຂໍ້ມູນ</p>
  </div>
  <div class="container-profile">
    <div class="container-point" *ngIf="this.prize.length > 0">
      <div class="point-box" *ngFor="let item of prize">
        <div class="current-point">
          <img [src]="url + '/static/' + item.image" alt="" />
          <div>
            <p style="font-weight: bold">{{ item.description }}</p>
            <div class="date">{{ item.add_date | date : "dd-MM-yyyy" }}</div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="this.prize.length > 0" class="page">
      <button class="next" (click)="next(-1)" [disabled]="prevPage">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>

      <div class="next-btn">
        <p>{{ this.pageNumber }}</p>
        <p>/</p>
        <p *ngIf="allPages > 0">{{ this.allPages }}</p>
      </div>

      <button class="next" (click)="next(1)" [disabled]="nextPage">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</main>
