<header class="sub-header">
  <a routerLink="/profile-user">
    <mat-icon> arrow_back</mat-icon>
  </a>

  <div
    style="
      display: flex;
      align-items: center;
      color: white;
      gap: 5px;
      font-weight: bold;
      font-size: 20px;
    "
  >
    ປະຫວັດການໄດ້ຄະແນນ
  </div>
</header>
<main>
  <div class="container-profile">
    <div class="container-point">
      <div class="point-box">
        <div class="current-point">
          <img src="../../assets/images/pepsi-shirt.png" alt="" />
          <div>
            <p style="font-weight: bold">ໄດ້ຮັບລາງວັນຈາກ</p>
            <div class="date">19-08-2024</div>
          </div>
        </div>
      </div>
      <div class="point-box">
        <div class="current-point">
          <img src="../../assets/images/pepsi-shirt.png" alt="" />
          <div>
            <p style="font-weight: bold">ໄດ້ຮັບລາງວັນຈາກ55555555555</p>
            <div class="date">19-08-2024</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
