<header class="sub-header">
  <div style="
      display: flex;
      align-items: center;
      color: white;
      gap: 5px;
      font-weight: bold;
      font-size: 20px;
    ">
    ໂປຣຟາຍ
  </div>
</header>
<main>
  <div class="container-profile">
    <div class="profile-box">
      <div class="name">
        <div *ngIf="profiles" class="btn-name">
          {{ this.profiles.fullname[0] }}
        </div>
      </div>
      <div *ngIf="profiles" class="name">
        {{ this.profiles.fullname }}
      </div>
      <div class="btn-profile"></div>

      <div class="submit">
        <button class="btn-confirm with_img">
          <img src="./assets/images/ph_coin-fill.svg" alt="" />
          <p *ngIf="profiles">{{ this.profiles.current_point }}</p>
        </button>
      </div>
      <div class="submit" routerLink="/profile-user/point-history" [queryParams]="{store_id: store_id}">
        <button class="btn-confirm">ປະຫວັດການໄດ້ຄະແນນ</button>
      </div>
      <div class="submit" routerLink="/profile-user/award-history" [queryParams]="{store_id: store_id}">
        <button class="btn-confirm">ປະຫວັດການໄດ້ຂອງລາງວັນ</button>
      </div>
    </div>
  </div>
</main>
