text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  pointer-events: none;
}
#chart {
  position: absolute;
  width: 500px;
  height: 500px;
  top: 0;
  left: 0;
}
#question {
  position: absolute;
  width: 400px;
  height: 500px;
  top: 0;
  left: 520px;
}
#question h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.reward-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.number-play{
  display: flex;
  color: #004c97;
  background: white;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 20px;
  border-bottom: 6px solid;
  position: absolute;
  top: 30px;
  right: 30px;
  gap: 3px;
}

.img-spin{
  text-align: center;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  img{
    width: 100%;
  }
}

@media only screen and (max-height: 600px){
  .img-spin{
    img{
      width: 50%;
    }
  }
}

