<header>
  <div class="logo">
    <img src="../../assets/images/logo.png">
  </div>
  <h3 class="la-font" *ngIf="dataStores">{{dataStores.name}}</h3>
  <a class="cart" *ngIf="dataStores" [routerLink]="['/cart', dataStores.id]">
    <mat-icon>
      shopping_cart</mat-icon>
    <span>{{dataCart.length}}</span>
  </a>
</header>
<main>
  <h2 class="la-font">ເຊັດເມນູອາຫານ</h2>
  <ul class="lists" style="margin-top: 20px;">
    <li class="list" *ngFor="let item of dataProducts">
      <div class="list-header">
        <img [src]="url+'/static/'+item.image">
      </div>
      <div class="list-body">
        <h3 class="la-font">{{item.name}}</h3>
        <span>{{formatCurrency(item.price)}}</span>
        <div class="btn">
          <button (click)="addToCart(item.id)"><mat-icon>
              add</mat-icon></button>
        </div>
      </div>
    </li>

  </ul>
</main>
