@font-face {
    font-family: 'noto_sans_laoregular';
    src: url('noto_gotham-webfont.woff2') format('woff2'),
         url('noto_gotham-webfont.woff') format('woff'),
         url('noto_gotham-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}