<div class="package-box">
  <div class="img-package">
    <img alt="" [src]="url + '/static/' + local_data.image" />
  </div>
  <div>
    <div class="btn-coin">
      <img src="../../assets/images/ph_coin-fill.svg" alt="" />
      <p>{{ this.local_data.point }}</p>
    </div>
  </div>

  <div class="submit package-btn-submit">
    <button (click)="exchange()"><mat-spinner *ngIf="submitStatus"></mat-spinner><span
        *ngIf="!submitStatus">ແລກຂອງລາງວັນ</span></button>
  </div>

  <div class="close-popup" mat-dialog-actions mat-dialog-close>
    <mat-icon mat-button>close</mat-icon>
  </div>
</div>
